html{
    display: flex;
    justify-content: center;
    line-height: 25px;
}
body{
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 40);
}
h1{
    color: rgb(60, 160, 240);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#rule{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(60, 160, 240);
}
img{
    height: 20px;
    display:inline;
}
button{
    color: rgb(255, 255, 255); 
    border: 5px outset rgb(60, 160, 240);
    font-size: large;
    font-family: "Courier New" ;
    text-align: center;
    background: rgb(60, 160, 240);
    /* flex-direction:row; */
}
#buttonsLocation{
    display: flex;
    justify-content:space-around; 
}

iframe{
    display: none;
}
